.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.btn-sup {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

.btn-reset {
    padding: .5rem;
    width: 100px;
}

input {
    padding: .5rem;
    width: 1rem;
}