.repo-item {
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

.input-repo-link {
    width: 50%;
    margin: 0 1rem;
}

.button {
    width: auto;
}

.div-repos {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.repo-list {
    width: auto;
}

.repo-info {
    width: 100%;
}